@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* navbar style */
header{
    font-family: "Open Sans", sans-serif;
}
.dark-2{
    color: #474747;
}

header .name{
    font-size: 45px;
    font-weight: 800;
}

.k{
    color: #FD6E0A;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 230px;
    
}

nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 51px;

}
nav ul a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
